{% extends 'base.html.twig' %}

{% block title %}Hello RecipeController!{% endblock %}

{% block body %}
<h2>Liste recette</h2>
<ul>
    {% for recipe in recipes %}
        <li>
            <a href= {{ path('app_recipe_show', {id:recipe.id, slug:recipe.slug})}}>{{ recipe.id}} : {{ recipe.title }}</a>
            <a href={{ path('app_recipe_delete', {id:recipe.id}) }}>Delete</a>
            
        </li>
    {% else %}
        <p>No recettes</p>
    {% endfor %}
</ul>
{% endblock %}
